body{
    margin: auto;
}
img{
    width: 100%;
}
.circlebox{
    margin: auto;
    text-align: center;
    background-color: gray;
    padding: 50px;
}
.imagebox{
    width: 15%;
    border-radius: 50%;
    margin: 0 auto;
    border: 10px solid black;
    margin-left: 40px;
    margin-right: 40px;
}