body {
margin: 0;
}
nav, footer {
    background-color: steelblue;
    color: white;
    padding: 20px;
}
a:hover {
    background-color: white;
    color: steelblue;
}
main{ 
    text-align: center;
}
img {
    width: 25%;
}
footer p {
    font-size: 20px;
    margin: 20px;
}