#content{
    max-width: 1600px;
    margin: 0 auto;
}

nav a{
    text-align: center;
    color: white;
    text-decoration: none;
}

#hero-msg h1{
    text-align: center;
}

#hero-msg h4{
    text-align: center;
}
.button-box{
    text-align: center;
}
main{
    text-align: center;
}
#background{
    height: 725px;
    background-color: #E9C46A;
}
body{
    background-color: white;
}
header{
    background-color: #0B2027;
}
nav a:hover {
    background-color: white;
    color: #396E94;
}
.book{
    color:#E9C46A;
    text-decoration: none;
}
.join{
    color: white;
}
.join:hover{
    background-color: white;
    color: #396E94
}
.book:hover{
    background-color: white;
    color: #E9C46A;
}
.msg{
    background-color: #0B2027;
}
footer{
    background-color: #0B2027;
    color: white;
}
footer a{
    color: white;
    text-decoration: none;
}
footer a:hover{
    background-color: white;
    color: #396E94;
}
footer p{
    font-size: 1.2em;
}
footer p a:hover{
    text-decoration: underline;
}
.home-title{
    color: #E9C46A;
}
h4{
    color: #0B2027;
}
.msg h2{
    color: white;
}
.msg p{
    color: white;
}
.icon{
    width: 80px;
}
