@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC&family=Lora&display=swap');

#content{
    max-width: 1600px;
    margin: 0 auto;
}

nav a{
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 35px;
}
#hero-img{
    width: 100%;
}
#hero-msg h1{
    text-align: center;
}

#hero-msg h4{
    text-align: center;
}
.button-box{
    text-align: center;
}
main{
    text-align: center;
}
#background{
    height: 725px;
    background-color: #E9C46A;
}
body{
    background-color: white;
    font-family: "Lora";
    font-size: 22px;
    margin: 0;
    padding: 0;
}
header{
    background-color: #0B2027;
}
nav a:hover {
    background-color: white;
    color: #396E94;
}
.book{
    color:#E9C46A;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
    border: 10px;
}
.join{
    color: white;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
    border: 10px;
}
.join:hover{
    background-color: white;
    color: #396E94;
}
.book:hover{
    background-color: white;
    color: #E9C46A;
}
.msg{
    background-color: #0B2027;
    font-family: "Lora";
    line-height: 1.5em;
    padding: 50px;
    margin-top: 200px;
}
footer{
    background-color: #0B2027;
    color: white;
    padding: 25px 50px;
    margin-top: 200px;
}
footer a{
    color: white;
    text-decoration: none;
}
footer a:hover{
    background-color: white;
    color: #396E94;
}
footer p{
    font-size: 1.2em;
}
footer p a:hover{
    text-decoration: underline;
}
.home-title{
    color: #E9C46A;
    font-family: "Alegreya SC";
    font-size: 2em;
    margin-top: 10px;
}
h4{
    color: #0B2027;
    font-family: "Lora";
}
.msg h2{
    color: white;
}
.msg p{
    color: white;
    font-size: .8em;
    padding-bottom: 15px;
}
.icon{
    width: 80px;
    padding-top: 10px;
}
h2{
    margin: 0;
}
.rivers-card, .camping-card, .rapids-card{
    margin: 200px 0;
}
.card-img{
    border: 10px solid #E9C46A;
}
main section img{
    box-sizing: border-box;
}
#logo-link{
    padding-top: 5px;
}
footer .social img{
    padding-top: 15px;
}
.mountains{
    margin-top: 200px;
}